/.bundle/
/.cache/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# node package manager
.npm

# rspec failure tracking
.rspec_status

# hanami app
.env
log/*
public/
node_modules/
spec/examples.txt
